@font-face {
    font-family: "OPEN_SANS";
    src: url(./fuentes/OpenSans/OpenSans-VariableFont_wdth\,wght.ttf);
}
* {
    box-sizing: border-box;
    margin: 0;
}

.fa-sharp {
    font-size: 30px;
}


#containerFather {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    flex-wrap: wrap;
}
#container {
    display: flex;
    flex-wrap: wrap;
    width: 40%;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}



.divChildGrid {
    flex: 1 0 calc(100% / var(--number-squares, 16)); 
    padding-bottom: calc(100% / var(--number-squares, 16)); /* Mantener relación de aspecto 1:1 */
    transition: background-color 0.4s ease-out;
}

#buttonContainer, #BackToNormalContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
button {
    border-radius: 10px;
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.24) 3px 0px 8px;
    border: none;
    cursor: pointer;
}
#buttonContainer button, #BackToNormalContainer button, #DarkerModeContainer button {
    font-family: "OPEN_SANS";
    font-weight: 600;
    font-size: 15px;
}


#BackToNormalContainer, #LeftContainer {
    width: 30%;
}

#BackToNormalContainer {
    padding: 1% 2% 2%;

}

#buttonContainer button {
    height: 50px;
    margin: 10px;
}

#BackToNormalContainer button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px 10px;
    margin: 10px 20px;
    gap: 10px;
}

.TransparencyButton {
    font-size: 150%;
    padding: 2% 0;
    width: 40px;
    margin: 10px;
}
.TransparencyContainer {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.TransparencyContainer h5 {
    font-size: 20px;
}
#DarkerModeContainer {
    display: flex;
    align-items: center;
    justify-content: center;
}

#DarkerModeContainer button {
    padding: 10px;
}

.Desactive {
    display: none;
}
.TextChange-back {
    display: block;
}